/*===GENERAL STYLES===*/

*{
  box-sizing: border-box;
}

body{
  font-family: Muli;
  color: #444349;
}

.grey{
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
}

main{
  background-image: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png);
}

.white, .grey{
  padding: 2rem;
}

em{
  font-style: italic;
}

strong{
  font-weight: bold;
}

.small-picture{
  margin: 1.5rem auto;
  text-align: center;
}

.small-picture img{
  width: 120px;
}

a{
  color: #bd806e;
}

a:hover{
  color: #eda087;
  transition: color .5s ease-in-out;
}

.main-wrapper{
  min-height: calc(100vh - 50px);
}

/*===HEADER STYLES===*/

.header{
  background: URL(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg) no-repeat 65% 20%;
  background-size: cover;
  height: 100vh;
  width:100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper{
  margin: 0 auto;
  padding: .625rem;
  background-color: hsla(100,0%,0%,.5);
  min-width: 60vw;
}

.header-wrapper h2{
  color: hsla(0,0%,100%,.9);
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

.header-wrapper h2::after{
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .9rem auto;
}

.header-wrapper h1{
  font-family: Great Vibes;
  color: #d2ba87;
  font-size:3.15rem;
  margin: .5rem auto;
}

.date{
  color: #fff;
}

.heading{
  text-align: center;
  font-family: Great Vibes;
  font-size: 3rem;
  margin: 1.5rem;
}

/*===LOCATION STYLES===*/

.location h2{
  text-align: center;
  font-size: 1.5rem;
  font-family: Libre Baskerville;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.location p{
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
}

.location::after{
  display: block;
  content: "";
  background-color: #444349;
  height: 2.5px;
  width: 8.515625rem;
  margin: 3rem auto;
}

/*===PROGRAM STYLES===*/

.program-scedule{
  //background-color: green;
  margin: 2.5rem auto;
  max-width: 15rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.citation{
  text-align: center;
  margin-top: 3rem;
}

/*===GIFTS STYLES===*/

.gifts p{
  text-align: center;
  margin-top: 3rem;
  font-size: 1.1rem;
}

.gifts-wrapper{
  margin-bottom: 1.5rem;
}

/*===QUESTIONS STYLES===*/

.questions h2{
  text-align: center;
  font-size: 1.5rem;
  font-family: Libre Baskerville;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.questions p{
  font-size: 1.1rem;
  line-height: 1.5;
}

#space{
  margin-bottom: 1rem;
}

.questions::after{
  display: block;
  content: "";
  background-color: #d2ba87;;
  height: 2.5px;
  width: 8.515625rem;
  margin: 3rem auto;
}

/*===CONTACT STYLES===*/

.contact p{
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.5;
}

/*===FOOTER STYLES===*/

.footer{
  background-color: #606060;
  width: 100vw;
  height: 50px;
  text-align: center;
  padding: 1rem;
}

/*===MEDIA QUERIES===*/

@media (min-width:1000px){
  .header-wrapper h1{
    font-size: 4.5rem;
  }
  .header-wrapper h2{
    font-size: 1.5rem;
  }
  .date{
    font-size: 1.1rem;
  }
  .locations-wrapper{
    margin-left: auto;
    margin-right: auto;
  }
  .ceremony, .photos, .party{
    display:inline-block;
    width: 33%;
  }
  .location::after{
    display:none;
  }
  .location{
    margin-bottom: 1.5rem;
  }
}

@media (min-width:1000px){
  .travel, .food, .other{
    display:inline-block;
    width: 33%;
    padding-right: 2rem;
    padding-left: 2rem;
    vertical-align:top;
  }
  .questions::after{
    display:none;
  }
}